@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&family=Sixtyfour&display=swap');

body {
    font-family: 'Protest Riot', sans-serif;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.queston{
    font-size: 90px;
}

.ans-row{
    display: flex;
    box-sizing: border-box;
}

.answer{
    width: 90 px; height: 90;
    font-size: 60px;
    border: 1px solid rgb(20, 19, 20);
    border-radius: 2 px;
    margin: 5 px;
    display: flex;
    align-self: center;
    justify-self: center;
    color: pointer;

}